.checkout-container{
	display: flex;
	padding:20px;
	background-color: #fff;
	height: max-content;
}

.checkout-ad{
	width:100%;
	margin-bottom: 10px;
}

.checkout-title{
	margin-right: 10px;
	padding:10px;
	border-bottom: 1px solid lightgray;
}

@media (max-width: 768px) {
	.checkout-container{
		flex-direction: column;

	}
	.checkout-right{
		margin:0 auto;
		margin-top:10%;

	}
}

@media (max-width: 414px) {
	.checkout-container{
		flex-direction: column;
	}
}
