.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.login-logo{
    margin-top:20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid lightgray;
    padding:20px
}

.login > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login > form > h5{
    margin-bottom: 5px;
}

.login > form > input{
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
}
.login > form >  p {
    margin-top:15px;
    font-size: 12px;
}

.login-signIn{
    border:1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
    background-color: #f0c14b;
    cursor: pointer;
    height: 35px;
    width: 100%;
    box-shadow: inset 0px 1px 8px 0px rgba(255,255,255,1);
    border-radius: 5px;
}

.login-signIn:hover{
    background: linear-gradient(to bottom,#f5d78e,#eeb933)
}

.login-register{
    border:1px solid;
    margin-top:10px;
    border-color: darkgray;
    cursor: pointer;
    height: 30px;
    width: 100%;
    border-radius:2px;
}

.login-register:hover{
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}

.auth-error{
    color:red;
    font-size: 0.8rem;
    margin-top:10px;
}


@media (max-width: 414px) {
    .login > form > p{
       text-align: center;
    }
}